@import "tailwindcss";

@theme{
  --color-brand: #008ecc;
  --color-primary: #666666;
  --color-secondary: #F5F5F5;
  --color-third: #F3F9FB;
  --color-theme: #fff; 
  --font-primary:"Host Grotesk", sans-serif; 
}


@utility container {
  margin: auto;
  padding: 0 16px;
}
.slick-dots .slick-active div {
@apply w-10;
}

@layer components{
  .heading{
@apply font-bold text-2xl text-primary;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}